.table {
  width: calc(100% - 2em);
}
.table thead th {
  text-align: left;
  border-bottom: 3px double #444;
}

.table thead th:nth-child(2) {
  width: 100%;
}

.table tr td {
  padding: 0.2em;
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-child(odd) td {
  background-color: #eee;
}
