.sky {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: skyblue;
  transition: all 20ms;
  overflow: hidden;
}

@media screen and (min-width: 580px) and (min-height: 680px) {
  .sky {
    height: 500px;
    max-height: 500px !important;
  }
}

@media screen and (min-height: 580px) {
  .sky {
    height: 400px;
  }
}

@media screen and (min-height: 780px) {
  .sky {
    height: 500px;
  }
}
