:root {
  --sign-background: white;
}
.sign {
  background-color: var(--sign-background);
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  border-right: 2px solid #666;
  border-top: 2px solid #666;
  border-radius: 3px;
  padding: 0.2em;

  position: relative;
  right: 15em;
  top: -2em;
  width: fit-content;
  height: fit-content;
  transform-origin: 50% 150%;
  transform: rotate(-10deg);
}
.sign::after {
  display: block;
  background-color: #222;
  content: ".";
  position: absolute;
  left: calc(50% - 5px);
  width: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 2px;
  margin-top: 4px;
}

.sign h3 {
  font-size: 0.75rem;
  line-height: 1em;
  text-align: center;
  margin: 0;
}
.sign p {
  font-size: 1.75rem;
  line-height: 1em;
  margin: 0.2em;
  text-align: center;
}

@keyframes signShake {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(-13deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.shake {
  animation: 0.5s ease-in-out 0s 1 normal forwards signShake;
}

.digit {
  background-color: var(--sign-background);
  display: inline-block;
  position: relative;
}

.digit::before {
  background-color: var(--sign-background);
  display: inline-block;
  display: inline-block;
  content: attr(data-prevchar);
  width: 0.6em;
  height: 1em;
  position: absolute;
  transform: perspective(1000px) rotateX(0deg);
  transform-origin: center bottom;
  transition: transform 1s;
}

.flip::before {
  transition: transform 1s;
  transform: perspective(1000px) rotateX(90deg);
}

.endFlip::before {
  transition: transform 0s;
  transform: perspective(1000px) rotateX(0deg);
}
