.field {
  background-color: green;
  padding: 1em 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  width: 0px;
  height: 0px;
  position: relative;
}

@media screen and (max-width: 1080px) {
  .root {
    transform: scale(0.7);
  }
  .field {
    height: 80px;
  }
}

@media screen and (max-width: 580px) {
  .root {
    transform: scale(0.5);
  }
  .field {
    height: 70px;
  }
}
