.tree {
  transition: all 0.5s;
  z-index: 1;
  background: brown;
  border-bottom-left-radius: 50% 7%;
  border-bottom-right-radius: 50% 7%;
  position: absolute;
  bottom: 0;
}

@keyframes treeShake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
  10% {
    transform: rotate(0deg);
  }
}

.shake {
  animation: 0.2s ease-in-out 0s 3 normal forwards treeShake;
}

.shade {
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: absolute;
}

.position {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 30px;
  left: -15px;
}
